<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Relayer</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Streams <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recent Streams</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                {% for stream in NAV_STREAM_LIST %}
                <a class="dropdown-item" href="{% url 'streams:detail' stream.slug %}">{{ stream.stream_name }}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
                <a class="dropdown-item" href="{% url 'streams:settings' %}">Settings</a>
                {% if user.is_staff %}<a class="dropdown-item" href="/admin">Admin</a> {% endif %}
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          </li>
        {% endif %}
    </ul>
    </div>
</nav>